<footer class="text-center bg-black opacity-75 border-t-2 border-white backdrop-blur-md">
  <div class="max-w-screen-xl px-4 py-12 mx-auto sm:px-6 lg:px-8">
    <div class="max-w-3xl mx-auto space-y-6">
      <nav
        class="relative flex flex-wrap flex-col sm:flex-row justify-center gap-8 p-8 text-sm font-bold border-4 border-white rounded-xl "
      >
        <a routerLink="/"
           class="hover:opacity-75 text-white text-xl"
           rel="noopener noreferrer"
        >
          HOME
        </a>
        <a routerLink="/profile"
           class="hover:opacity-75 text-white text-xl"

           rel="noopener noreferrer"
        >
          PROFILE
        </a>
        <a routerLink="/shoppingcart"
           class="hover:opacity-75 text-white text-xl"
           rel="noopener noreferrer"
        >
          CART
        </a>

      </nav>
      <p class="text-xs font-medium text-white  text-[1rem]">2022 Ryan Bhola</p>
    </div>
  </div>
</footer>
